<h1> Huidige Scouts </h1>

<ul><% @scoutingsmembers.each do |scoutingsmember|%> 
    <li>    <%= scoutingsmember.VoorNaam %> &nbsp
        <%= scoutingsmember.AchterNaam %> &nbsp
        <%= scoutingsmember.ScoutNummer %> &nbsp
        <%= scoutingsmember.AantalBadges %> &nbsp
<%end%>
</ul>


